.list-user-container {
    .list-user {
        margin: 0 auto;
        width: 500px;
        border: 1px solid gold;
        height: 50px;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        line-height: 50px;
        text-align: center;

    }
}